@model IEnumerable<Article>
@{
    Layout = "_Layout";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Article Id</th>
            <th>Article Name</th>
            <th>Content</th>
            @*<th>Tutorial</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             <tr>
                <td>@item.ArticleId</td>
                <td>@item.ArticleTitle</td>
                <td>@item.ArticleContent</td>
               @* <td>@item.Tutorial.Name</td>*@
                <td></td>
        </tr>
        }
       
    </tbody>


</tabl>
