@model Tutorial
@{
    ViewBag.Title = "Create Tutorial";
}
<form asp-controller="tutorial" asp-action="AddTutorial">

    <partial name="_TutorialFormFields" model="@Model" />
   

</form>
@*@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}*@