@model Tutorial
@{
    ViewBag.Title = "Edit Tutorial";
}
<form asp-controller="tutorial" asp-action="EditTutorial">
    <input type="hidden" asp-for="Id"/>
   @*<partial name="_TutorialFormFields" model="@Model" />*@

   // another way to call partial view
   @await Html.PartialAsync("_TutorialFormFields",Model)

</form>
